
body {
  font-family: "Merriweather Sans", sans-serif;
  margin: 40px auto;
  max-width: 600px;

}

h1 {
  font-size: 64px;
  margin: 10px 0 10px 20px;
  text-shadow: 1px 2px 10px rgb(125, 105, 234);
  padding: 0 0 10px 20px;
}

h2 {
  font-size: 50px;
  margin: 10px 0 10px 100px;
}

ul {
  list-style: none;
  padding-left: 5px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

}

img {
  vertical-align: top;
  width: 120px;
  }

.degreesCF {
  display: inline;
  position: relative;
  top: -85px;
  left: 120px;
}

.container {
  display: flexbox;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
}

form {
  margin: 0 0 20px 100px;
}

.buttonCurrentLocation {
  background-color: rgb(133, 133, 198);
  border-color: rgb(140, 140, 200);
  border-width: 5px;
  font-size: 15px;
  color: white;
  margin: 20px 0 10px 180px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: all 200ms ease;
  
}

.buttonCurrentLocation:hover {
  background-color: rgb(66, 66, 96) ;
 
}


.date-time {
  font-size: 20px;
  font-weight: 200;
  opacity: 75%;
  margin: 0 0 10px 100px;
}
.city-search {
  font-size: 12px;
  opacity: 75%;
  font-style: italic;
}

.icon_main {
  font-size: 10px;
  color: rgb(133, 133, 198);
  margin: 0 0 0 10px;
  padding: 0 0 0 20px;
  position: relative;
  top: -70px;
  left: 0;
  
  
}

.today-text {
  text-align: left;
  font-size: 14px;
   color: grey;
  opacity: 75%;
  margin: 10px 0 10px 10px;
  position: relative;
  top: -100px;
  left: 20px;
  /* padding: 0 0 10px 20px; */
}

.temperature-today {
  font-size: 14px;
  color: grey;
  opacity: 75%;
  margin: 0 0 0 20px;
  position: relative;
  top: -100px;
  left: 15px;
}

.arrow-up {
  margin-top: 0;
  padding-top: 0;
  color: orange;
}
.arrow-dn {
  color: blue;
}

.t_max, .t_min {
  margin: 0;
  padding: 0;
}

.properties-weather {
  font-size: 12px;
  color: grey;
  opacity: 75%;
  margin-left: 100px;
}

.weather-today {
  display: block;
  border: solid;
  border-radius: 30px;
  border-color: rgb(163, 162, 162);
  padding: 20px 0 10px 0px;
}

.weather-today .celsiusLink {
color: grey; 
opacity: 75%;
cursor: default;
 text-decoration: none;
}
.fahrenheitLink {
  text-decoration: none;
}
.weather-today .celsiusLink:hover {
  text-decoration: none;
}

.icon-forecast-day1 {
 width: 50px;
   }
.sun {
  font-size: 35px;
  color: rgb(243, 243, 178);
}

.forecast {
  /* margin: 10px 0 10px 10px; */
  text-align: center;
  opacity: 80%;
  padding: 0 0 10px 10px;
 
}
.linkCode {
 color: rgb(133, 133, 198);
  margin: 0 20px;
}